In [142]:
import psycopg2
from psycopg2 import sql
import psycopg2.extras as extras

from google.cloud import bigquery
from google.oauth2 import service_account


import pandas as pd
import json
from datetime import datetime,timezone

from dotenv import dotenv_values

In [143]:
view_name='pmr_pm_plan'
bq_table_name=view_name.replace('pmr_','')
start_query="2019-01-01"

tz="utc"

dt_imported=datetime.now() # utc
str_date_imported=dt_imported.strftime('%d%m%Y_%H%M')
print(str_date_imported)

print(f"{view_name} vs {bq_table_name}")

12012024_2043
pmr_pm_plan vs pm_plan

In [144]:
def get_key_id_by_view_name(view_name):

    if view_name == "pmr_pm_plan":
        key_name = "pm_id"
    elif view_name == "pmr_pm_item":
        key_name = "pm_item_id"
    elif view_name == "pmr_project":
        key_name = "project_id"
    elif view_name == "pmr_inventory":
        key_name = "inventory_id"     
    elif view_name == "xyz_incident":
        key_name = "incident_id"   
    else:
        raise Exception("No specified content type id")
        
    return key_name                       
key_id=get_key_id_by_view_name(view_name)
print(key_id)

pm_id

# Config DB and BQ

In [145]:
env_path='.env'
config = dotenv_values(dotenv_path=env_path)
print(env_path)


projectId='smart-data-ml'
credentials = service_account.Credentials.from_service_account_file(r'C:\Windows\smart-data-ml-91b6f6204773.json')
client = bigquery.Client(credentials=credentials, project=projectId)
# client = bigquery.Client(project=projectId)
dw_dataset_id="SMartDataAnalytics"

dw_table_id = f"{projectId}.{dw_dataset_id}.{bq_table_name}"
print(dw_table_id)

.env
smart-data-ml.SMartDataAnalytics.pm_plan

# Postgres &BigQuery

In [146]:
def get_postgres_conn():
 try:
  conn = psycopg2.connect(
        database=config['DATABASES_NAME'], user=config['DATABASES_USER'],
      password=config['DATABASES_PASSWORD'], host=config['DATABASES_HOST']
     )
  return conn

 except Exception as error:
  print(error)      
  raise error
def list_data_pg(sql,params,connection):
 df=None   
 with connection.cursor() as cursor:
    
    if params is None:
       cursor.execute(sql)
    else:
       cursor.execute(sql,params)
    
    columns = [col[0] for col in cursor.description]
    dataList = [dict(zip(columns, row)) for row in cursor.fetchall()]
    df = pd.DataFrame(data=dataList) 
 return df 

def load_data_bq(sql:str):

 query_result=client.query(sql)
 df_all=query_result.to_dataframe()
 return df_all

# Get data from View on Postgres DB

In [147]:
def Get_ID_DB():
    sql_pg=f"""
    select {key_id} from {view_name} where updated_at AT time zone '{tz}' >= '{start_query}' 
    """
    print(sql_pg)
    df=list_data_pg(sql_pg,None,get_postgres_conn())
    return df
dfDB=Get_ID_DB()
dfDB.info()

    select pm_id from pmr_pm_plan where updated_at AT time zone 'utc' >= '2019-01-01'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4770 entries, 0 to 4769
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pm_id   4770 non-null   int64
dtypes: int64(1)
memory usage: 37.4 KB

# Get data from Main table on BigQuery

In [148]:
def Get_ID_BQ():
    sql_bq=f"""
    SELECT {key_id} FROM `{dw_table_id}` WHERE  is_deleted=False
    """
    print(sql_bq)
    df=load_data_bq(sql_bq)
    return df

dfBQ=Get_ID_BQ()
dfBQ.info()

    SELECT pm_id FROM `smart-data-ml.SMartDataAnalytics.pm_plan` WHERE  is_deleted=False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4875 entries, 0 to 4874
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pm_id   4875 non-null   Int64
dtypes: Int64(1)
memory usage: 43.0 KB

# Comparision

In [149]:
def get_different_values(list1, list2):
  """Get the values list of the values in BQ that are not in DB vice versa.

  Args:
    list1: BQ or DB.
    list2: BQ or DB.

  Returns:
    A list of the values in BQ that are not in DB vice versa.
  """

  result = []
  for value in list1:
    if value not in list2:
      result.append(value)

  return result

In [150]:
def find_diff_id(dfPostgres,dfBigQuery):
    """
    Find different ID betwee Postgresql and Bigquery
    Args:
    list1: Rows were returne from PostgresDB.
    list2: Rows were returne from Bigquery.

    Returns:
    A list of the values in BQ that are not in DB vice versa.
    
    """
    dbList=dfPostgres[key_id].tolist()
    bqList=dfBigQuery[key_id].tolist()

    # dbList=[1,2,3,4,5,6,7,8,9,10]
    # bqList=[1,2,3,4,5,10,11,12]
    print(f"DB:{len(dbList)} vs BQ:{len(bqList)}")

    if len(dbList)!=len(bqList):
        print(f"Not been sychronized to {dw_table_id} yet : list values in DB that are not in BQ")
        diffDB=get_different_values(dbList,bqList)
        print(diffDB)
        print("=================================================================================================")

        print(f"Already deleted on {config['DATABASES_NAME']}: list values in BQ that are not in DB")
        diffBQ=get_different_values(bqList,dbList)
        print(diffBQ)
        return   diffDB,diffBQ

    else:
        print("Great")
        return [],[]
    

        
dbIDs,BQIds=find_diff_id(dfDB,dfBQ)

DB:4770 vs BQ:4875
Not been sychronized to smart-data-ml.SMartDataAnalytics.pm_plan yet : list values in DB that are not in BQ
[1488, 1482, 1483, 1484, 1485, 1486, 1478, 1480, 1481, 1489, 1495, 1497, 1515, 1516, 1517, 1520, 1490, 1523, 1518, 1528, 1524, 1525, 1498, 1526, 1491, 1499, 1527, 1492, 1500, 1493, 1501, 1521, 1494, 1502, 1530, 1522, 1496, 1701, 3906, 3907, 3908, 1519, 1529]
=================================================================================================
Already deleted on SMartDB: list values in BQ that are not in DB
[5478, 5488, 5498, 5469, 5554, 5556, 5557, 5555, 5558, 5552, 5553, 5505, 5511, 5515, 5514, 5513, 5516, 5512, 5465, 5494, 5474, 5484, 5452, 5456, 5460, 5499, 5479, 5489, 5451, 5431, 5446, 5436, 5441, 5454, 5458, 5462, 5475, 5495, 5485, 5520, 5517, 5519, 5523, 5522, 5518, 5470, 5509, 5508, 5504, 5507, 5510, 5503, 5506, 5559, 5560, 5563, 5564, 5562, 5565, 5561, 5545, 5546, 5550, 5549, 5548, 5551, 5547, 5430, 5521, 5472, 5486, 5496, 5476, 5567, 5569, 5568, 5570, 5571, 5572, 5566, 5455, 5459, 5463, 5477, 5487, 5497, 5492, 5482, 5502, 5493, 5483, 5473, 5467, 5468, 5464, 5524, 5525, 5528, 5530, 5527, 5529, 5526, 5490, 5480, 5500, 5437, 5432, 5447, 5442, 5427, 5457, 5453, 5461, 5531, 5532, 5535, 5536, 5534, 5537, 5533, 5538, 5539, 5543, 5542, 5541, 5544, 5540, 5434, 5429, 5444, 5449, 5439, 5471, 5501, 5481, 5491, 5466, 5448, 5428, 5438, 5433, 5443, 5397, 5393, 5440, 5435, 5450, 5445]

# Get data from SMARTDB that have been synchoize to BigQuery

In [152]:
def get_comming_data(x_dbIDs,id):
    if len(dbIDs)>0:
        x_dbIDs=[str(id) for id in x_dbIDs ]
        IDs="({})".format(",".join(x_dbIDs))
        # print(IDs)
        sqlList=f"""
        select * from {view_name} where {id} in {IDs}
        order by updated_at desc
        """
        print(sqlList)
        dfXYZ=list_data_pg(sqlList,None,get_postgres_conn())
        if dfXYZ.empty==False:
            print(dfXYZ)
            dfXYZ.to_csv(f"data_consistence_check/{view_name}-{bq_table_name}_{str_date_imported}.csv",index=False)
            return True

        return False
    else:
    
        return False
        
        
result=get_comming_data(dbIDs,key_id)

        select * from pmr_pm_plan where pm_id in (1488,1482,1483,1484,1485,1486,1478,1480,1481,1489,1495,1497,1515,1516,1517,1520,1490,1523,1518,1528,1524,1525,1498,1526,1491,1499,1527,1492,1500,1493,1501,1521,1494,1502,1530,1522,1496,1701,3906,3907,3908,1519,1529)
        order by updated_at desc

    pm_id  project_id planned_date ended_pm_date                 pm_period  \
0    1522         518   2025-01-01    2025-01-26                     12/12
1    1530         518   2025-01-01    2025-01-26                     12/12
2    1502         518   2025-01-01    2025-01-26                     12/12
3    1494         518   2025-01-01    2025-01-26                     12/12
4    1486         518   2025-01-01    2025-01-26                     12/12
5    1529         518   2024-10-01    2024-10-28                     11/12
6    1521         518   2024-10-01    2024-10-28                     11/12
7    1501         518   2024-10-01    2024-10-28                     11/12
8    1493         518   2024-10-01    2024-10-28                     11/12
9    1485         518   2024-10-01    2024-10-28                     11/12
10   1500         518   2024-07-01    2024-07-30                     10/12
11   1492         518   2024-07-01    2024-07-30                     10/12
12   1484         518   2024-07-01    2024-07-30                     10/12
13   1527         518   2024-04-01    2024-05-01                      9/12
14   1519         518   2024-04-01    2024-05-01                      9/12
15   1499         518   2024-04-01    2024-05-01                      9/12
16   1491         518   2024-04-01    2024-05-01                      9/12
17   1483         518   2024-04-01    2024-05-01                      9/12
18   1526         518   2024-01-01    2024-01-31                      8/12
19   1498         518   2024-01-01    2024-01-31                      8/12
20   1518         518   2024-01-01    2024-01-31                      8/12
21   1490         518   2024-01-01    2024-01-31                      8/12
22   1482         518   2024-01-01    2024-01-31                      8/12
23   1515         518   2023-03-01    2023-03-31                      5/12
24   1516         518   2023-06-01    2023-06-30                      6/12
25   1517         518   2023-10-01    2023-10-31                      7/12
26   1496         518   2023-05-01    2023-05-31                      6/12
27   1495         518   2023-03-01    2023-03-31                      5/12
28   1520         518   2024-07-01    2024-07-31                     10/12
29   1478         518   2023-03-01    2023-03-31                      5/12
30   1489         518   2023-10-01    2023-10-31                      7/12
31   1523         518   2023-03-01    2023-03-31                      5/12
32   1524         518   2023-06-01    2023-06-30                      6/12
33   1525         518   2023-10-01    2023-10-31                      7/12
34   1488         518   2023-06-01    2023-06-30                      6/12
35   1528         518   2024-07-01    2024-07-31                     10/12
36   1481         518   2023-10-01    2023-10-31                      7/12
37   1480         518   2023-06-01    2023-06-30                      6/12
38   1701         518   2023-03-01    2023-03-31                      5/12
39   3906         624   2023-12-01    2023-12-31  BCM_Oct - Dec 2023 (2/4)
40   3907         624   2024-03-01    2024-03-31  BCM_Jan - Mar 2024 (3/4)
41   1497         518   2023-10-01    2023-10-31                      7/12
42   3908         624   2024-06-01    2024-06-30  BCM_Apr - Jun 2024 (4/4)

                 team_lead                       updated_at
0       Aunsorn Sanvangjun 2023-12-31 09:26:19.581276+07:00
1   Chaipus Aupatamwipanon 2023-12-31 09:25:52.944492+07:00
2        Panusak Sornplang 2023-12-31 09:25:38.463356+07:00
3           Narupon Saleah 2023-12-31 09:25:17.465265+07:00
4           Boonlert Kawta 2023-12-31 09:24:58.253498+07:00
5   Chaipus Aupatamwipanon 2023-12-31 09:22:29.000415+07:00
6       Aunsorn Sanvangjun 2023-12-31 09:22:02.377502+07:00
7        Panusak Sornplang 2023-12-31 09:19:37.987207+07:00
8           Narupon Saleah 2023-12-31 09:18:44.530197+07:00
9           Boonlert Kawta 2023-12-31 09:16:56.532283+07:00
10       Panusak Sornplang 2023-12-31 09:15:43.624310+07:00
11          Narupon Saleah 2023-12-31 09:15:11.363904+07:00
12          Boonlert Kawta 2023-12-31 09:14:59.220965+07:00
13  Chaipus Aupatamwipanon 2023-12-31 09:14:17.835987+07:00
14      Aunsorn Sanvangjun 2023-12-31 09:13:49.592921+07:00
15       Panusak Sornplang 2023-12-31 09:13:31.245877+07:00
16          Narupon Saleah 2023-12-31 09:12:51.029679+07:00
17          Boonlert Kawta 2023-12-31 09:09:54.519450+07:00
18  Chaipus Aupatamwipanon 2023-12-31 09:07:14.783029+07:00
19       Panusak Sornplang 2023-12-31 09:06:47.165606+07:00
20      Aunsorn Sanvangjun 2023-12-31 09:06:20.571886+07:00
21          Narupon Saleah 2023-12-31 09:06:00.723850+07:00
22          Boonlert Kawta 2023-12-31 09:05:49.717174+07:00
23      Aunsorn Sanvangjun 2023-12-02 11:32:54.226779+07:00
24      Aunsorn Sanvangjun 2023-12-02 11:32:54.226779+07:00
25      Aunsorn Sanvangjun 2023-12-02 11:32:54.226779+07:00
26       Panusak Sornplang 2023-12-02 11:32:54.226779+07:00
27          Narupon Saleah 2023-12-02 11:32:54.226779+07:00
28      Aunsorn Sanvangjun 2023-12-02 11:32:54.226779+07:00
29          Boonlert Kawta 2023-12-02 11:32:54.226779+07:00
30          Narupon Saleah 2023-12-02 11:32:54.226779+07:00
31  Chaipus Aupatamwipanon 2023-12-02 11:32:54.226779+07:00
32  Chaipus Aupatamwipanon 2023-12-02 11:32:54.226779+07:00
33  Chaipus Aupatamwipanon 2023-12-02 11:32:54.226779+07:00
34          Narupon Saleah 2023-12-02 11:32:54.226779+07:00
35  Chaipus Aupatamwipanon 2023-12-02 11:32:54.226779+07:00
36          Boonlert Kawta 2023-12-02 11:32:54.226779+07:00
37          Boonlert Kawta 2023-12-02 11:32:54.226779+07:00
38       Panusak Sornplang 2023-12-02 11:32:54.226779+07:00
39    Chatchai Glaewtanong 2023-12-02 11:32:54.226779+07:00
40    Chatchai Glaewtanong 2023-12-02 11:32:54.226779+07:00
41       Panusak Sornplang 2023-12-02 11:32:54.226779+07:00
42    Chatchai Glaewtanong 2023-12-02 11:32:54.226779+07:00