In [77]:
import psycopg2
from psycopg2 import sql
import psycopg2.extras as extras

from google.cloud import bigquery
from google.oauth2 import service_account


import pandas as pd
import json
from datetime import datetime,timezone

from dotenv import dotenv_values

import os
import sys

In [78]:
is_py=False
view_name='pmr_pm_item'

start_query="2019-01-01"

tz="utc"

dt_imported=datetime.now() # utc
str_date_imported=dt_imported.strftime('%d%m%Y_%H%M')
print(str_date_imported)

12012024_2149
pmr_pm_item vs pm_item

In [79]:
if is_py:
    press_Y=''
    ok=False

    if len(sys.argv) > 1:
        view_name=sys.argv[1]
    else:
        print("Enter the following input: ")
        view_name = input("View Table Name : ")
print(f"View name to load to BQ :{view_name} ")

View name to load to BQ :pmr_pm_item

In [80]:
def get_key_id_by_view_name(view_name):

    if view_name == "pmr_pm_plan":
        key_name = "pm_id"
    elif view_name == "pmr_pm_item":
        key_name = "pm_item_id"
    elif view_name == "pmr_project":
        key_name = "project_id"
    elif view_name == "pmr_inventory":
        key_name = "inventory_id"     
    elif view_name == "xyz_incident":
        key_name = "incident_id"   
    else:
        raise Exception("No specified content type id")
        
    return key_name                       
key_id=get_key_id_by_view_name(view_name)
print(key_id)

pm_item_id

# Config DB and BQ

In [81]:
env_path='.env'
config = dotenv_values(dotenv_path=env_path)
print(env_path)

bq_table_name=view_name.replace('pmr_','')
print(f"{view_name} vs {bq_table_name}")


projectId='smart-data-ml'
credentials = service_account.Credentials.from_service_account_file(r'C:\Windows\smart-data-ml-91b6f6204773.json')
client = bigquery.Client(credentials=credentials, project=projectId)
# client = bigquery.Client(project=projectId)
dw_dataset_id="SMartDataAnalytics"

dw_table_id = f"{projectId}.{dw_dataset_id}.{bq_table_name}"
print(dw_table_id)

.env
smart-data-ml.SMartDataAnalytics.pm_item

# Postgres &BigQuery

In [82]:
def get_postgres_conn():
 try:
  conn = psycopg2.connect(
        database=config['DATABASES_NAME'], user=config['DATABASES_USER'],
      password=config['DATABASES_PASSWORD'], host=config['DATABASES_HOST']
     )
  return conn

 except Exception as error:
  print(error)      
  raise error
def list_data_pg(sql,params,connection):
 df=None   
 with connection.cursor() as cursor:
    
    if params is None:
       cursor.execute(sql)
    else:
       cursor.execute(sql,params)
    
    columns = [col[0] for col in cursor.description]
    dataList = [dict(zip(columns, row)) for row in cursor.fetchall()]
    df = pd.DataFrame(data=dataList) 
 return df 

def load_data_bq(sql:str):

 query_result=client.query(sql)
 df_all=query_result.to_dataframe()
 return df_all

# Get data from View on Postgres DB

In [83]:
def Get_ID_DB():
    sql_pg=f"""
    select {key_id} from {view_name} where updated_at AT time zone '{tz}' >= '{start_query}' 
    """
    print(sql_pg)
    df=list_data_pg(sql_pg,None,get_postgres_conn())
    return df
dfDB=Get_ID_DB()
dfDB.info()

    select pm_item_id from pmr_pm_item where updated_at AT time zone 'utc' >= '2019-01-01'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95397 entries, 0 to 95396
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pm_item_id  95397 non-null  int64
dtypes: int64(1)
memory usage: 745.4 KB

# Get data from Main table on BigQuery

In [84]:
def Get_ID_BQ():
    sql_bq=f"""
    SELECT {key_id} FROM `{dw_table_id}` WHERE  is_deleted=False
    """
    print(sql_bq)
    df=load_data_bq(sql_bq)
    return df

dfBQ=Get_ID_BQ()
dfBQ.info()

    SELECT pm_item_id FROM `smart-data-ml.SMartDataAnalytics.pm_item` WHERE  is_deleted=False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95358 entries, 0 to 95357
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pm_item_id  95358 non-null  Int64
dtypes: Int64(1)
memory usage: 838.2 KB

# Comparision

In [85]:
def get_different_values(list1, list2):
  """Get the values list of the values in BQ that are not in DB vice versa.

  Args:
    list1: BQ or DB.
    list2: BQ or DB.

  Returns:
    A list of the values in BQ that are not in DB vice versa.
  """

  result = []
  for value in list1:
    if value not in list2:
      result.append(value)

  return result

In [86]:
def find_diff_id(dfPostgres,dfBigQuery):
    """
    Find different ID betwee Postgresql and Bigquery
    Args:
    list1: Rows were returne from PostgresDB.
    list2: Rows were returne from Bigquery.

    Returns:
    A list of the values in BQ that are not in DB vice versa.
    
    """
    dbList=dfPostgres[key_id].tolist()
    bqList=dfBigQuery[key_id].tolist()

    # dbList=[1,2,3,4,5,6,7,8,9,10]
    # bqList=[1,2,3,4,5,10,11,12]
    print(f"DB:{len(dbList)} vs BQ:{len(bqList)}")

    if len(dbList)!=len(bqList):
        print(f"Not been sychronized to {dw_table_id} yet : list values in DB that are not in BQ")
        # diffDB=get_different_values(dbList,bqList)
        diffDB=  list(set(dbList)-set(bqList))
        print(diffDB)
        print("=================================================================================================")

        print(f"Already deleted on {config['DATABASES_NAME']}: list values in BQ that are not in DB")
        # diffBQ=get_different_values(bqList,dbList)
        diffBQ=list(set(bqList)-set(dbList))
        print(diffBQ)
        return   diffDB,diffBQ

    else:
        print("Great")
        return [],[]
    

        
dbIDs,BQIds=find_diff_id(dfDB,dfBQ)

DB:95397 vs BQ:95358
Not been sychronized to smart-data-ml.SMartDataAnalytics.pm_item yet : list values in DB that are not in BQ
[107329, 107330, 107331, 12689, 12690, 12691, 12692, 12693, 12694, 12695, 12696, 12697, 12698, 12699, 12700, 12701, 12702, 12703, 12704, 12705, 12706, 12707, 12727, 12728, 12729, 12730, 12731, 12732, 12733, 12734, 12735, 12736, 12737, 12738, 12739, 12740, 12741, 12742, 12743, 12744, 12745, 12746, 12747, 12748, 12749, 12750, 12751, 12752, 12753, 12754, 12755, 12756, 12757, 12758, 12759, 12760, 12761, 12762, 12763, 12764, 12765, 12766, 12767, 12768, 12769, 12770, 12771, 12772, 12773, 12774, 12775, 12776, 12777, 12778, 12779, 12780, 12781, 12782, 12783, 12784, 12785, 12786, 12787, 12788, 12789, 12790, 12791, 12792, 12793, 12794, 12795, 12796, 12797, 12798, 12799, 12800, 12801, 12802, 12803, 12804, 12805, 12806, 12807, 12808, 12809, 12810, 12811, 12812, 12813, 12814, 12815, 12816, 12817, 12818, 12819, 12820, 12821, 12822, 12823, 12824, 12825, 12846, 12847, 12848, 12849, 12850, 12851, 12852, 12853, 12854, 12855, 12856, 12857, 12858, 12859, 12860, 12861, 12862, 12863, 12864, 12865, 12866, 12867, 12868, 12869, 12870, 12871, 12872, 12873, 12874, 12875, 12876, 12877, 12878, 12879, 12880, 12881, 12882, 12883, 12884, 12885, 12886, 80638, 80639, 80640, 80641, 80642, 80643, 80644, 80645, 80646, 80647, 80648, 80649, 80650, 80651, 80652, 80653, 80654, 80655, 80656, 80657, 80658, 80659, 80660, 80661, 80662, 80663, 80664, 80665, 80666, 80667, 80668, 80669, 80670, 80671, 80672, 80673, 80674, 80675, 80676, 80677, 80678, 80679, 80680, 80681, 80682, 80683, 80684, 80685, 80686, 80687, 80688, 80689, 80690, 80691, 80692, 80693, 80694, 80695, 80696, 80697, 80698, 80699, 80700, 80701, 80702, 80703, 80704, 80705, 80706, 80707, 80708, 80709, 80710, 80711, 80712, 80713, 80714, 80715, 80716, 80717, 80718, 80719, 80720, 80721, 80722, 80723, 80724, 80725, 80726, 80727, 80728, 80729, 80730, 80731, 80732, 80733, 80734, 80735, 80736, 80737, 80738, 80739, 80740, 80741, 80742, 80743, 80744, 80745, 80746, 80747, 80748, 80749, 80750, 80751, 80752, 80753, 80754, 80755, 80756, 80757, 80758, 80759, 80760, 80761, 80762, 80763, 80764, 80765, 80766, 80767, 80768, 80769, 80770, 80771, 80772, 80773, 80774, 80775, 107391, 107392, 107393, 107394, 107395, 107396, 107397, 107398, 107399, 107332, 107333, 107334, 107335, 107336, 107337, 107320, 107321, 107322, 107323, 107324, 107325, 107326, 107327, 13655, 13656, 13657, 13658, 13659, 13660, 13661, 13662, 13663, 13664, 13665, 13666, 13667, 13668, 13669, 13670, 13671, 13672, 13673, 13674, 13675, 13676, 13677, 13678, 13679, 13680, 13681, 13682, 13683, 13684, 13685, 13686, 13687, 13688, 13689, 13690, 13691, 13692, 13693, 13694, 13695, 13696, 13697, 13698, 13699, 13700, 13701, 13702, 13703, 13704, 13705, 13706, 13707, 13708, 13709, 13710, 13711, 13712, 13713, 13714, 13715, 107338, 107339, 107340, 107341, 107342, 107343, 107344, 107345, 107346, 107347, 107348, 107349, 107350, 107351, 107352, 107353, 107354, 107355, 107356, 107357, 107358, 107359, 107360, 107361, 107362, 107363, 107364, 107365, 107366, 107367, 107368, 107369, 107370, 107371, 107372, 107373, 107374, 107375, 107376, 107377, 107378, 107379, 107380, 107381, 18026, 107382, 107383, 107384, 107385, 107386, 107387, 107388, 107389, 107390, 107328]
=================================================================================================
Already deleted on SMartDB: list values in BQ that are not in DB
[107046, 107047, 107048, 107049, 107050, 107051, 107070, 107071, 107072, 107073, 107074, 107075, 109186, 109190, 109191, 109192, 109193, 109194, 109195, 109196, 109197, 109198, 109199, 109200, 109201, 109202, 109203, 109204, 109205, 109206, 109207, 109208, 109209, 109211, 109296, 109297, 109298, 109299, 109300, 109301, 109302, 109303, 109304, 109305, 109306, 109307, 109308, 109309, 109310, 109311, 109312, 109313, 109314, 109315, 109316, 109401, 109402, 109403, 109404, 109405, 109406, 109407, 109408, 109409, 109410, 109411, 109412, 109413, 109414, 109415, 109416, 109417, 109418, 109419, 109420, 109421, 109506, 109507, 109508, 109509, 109510, 109511, 109512, 109513, 109514, 109515, 109516, 109517, 109518, 109519, 109520, 109521, 109522, 109523, 109524, 109525, 109526, 109611, 109612, 109613, 109614, 109615, 109616, 109617, 109618, 109619, 109620, 109621, 109622, 109623, 109624, 109625, 109626, 109627, 109628, 109629, 109630, 109631, 109716, 109717, 109718, 109719, 109720, 109721, 109740, 109741, 109742, 109743, 109744, 109745, 109764, 109765, 109766, 109767, 109768, 109829, 109830, 109831, 109832, 109833, 109834, 109835, 109836, 109837, 109919, 109920, 109921, 109922, 109923, 109924, 109925, 109926, 109927, 110009, 110010, 110011, 110012, 110013, 110014, 110015, 110016, 110017, 110099, 110100, 110101, 110102, 110103, 110104, 110105, 110106, 110107, 110108, 110109, 110110, 110111, 110112, 110113, 110114, 110115, 110116, 110117, 110118, 110119, 110120, 110121, 110122, 110123, 110124, 110125, 110126, 110127, 110128, 110129, 110130, 110131, 110132, 110133, 110134, 110135, 110136, 110137, 110138, 110139, 110140, 110141, 110142, 110143, 110144, 110145, 110146, 110147, 110148, 110149, 110150, 110151, 110152, 110153, 110154, 110155, 110156, 110157, 110158, 110159, 110160, 110161, 110162, 110163, 110164, 110165, 110166, 110201, 110202, 110203, 110204, 110205, 110206, 110207, 110208, 110209, 110210, 110211, 110212, 110213, 110214, 110215, 110216, 110217, 110218, 110219, 110220, 110221, 110222, 110223, 110224, 110225, 110226, 110227, 110228, 110229, 110230, 110231, 110232, 110233, 110234, 110235, 110236, 110237, 110238, 110239, 110240, 110241, 110242, 110243, 110244, 110245, 110246, 110247, 110248, 110249, 110250, 110251, 110252, 110253, 110254, 110255, 110256, 110257, 110258, 110259, 110260, 110261, 110262, 110263, 110264, 110265, 110266, 110267, 110268, 110269, 110270, 110271, 110272, 110273, 110274, 110275, 110276, 110277, 110278, 110279, 110280, 110281, 110282, 110283, 110284, 110285, 110286, 110287, 110288, 110289, 110290, 110291, 110292, 110293, 110294, 110295, 110296, 110297, 110298, 110299, 110300, 110301, 110302, 110303, 110304, 110305, 110306, 110307, 110308, 110309, 110310, 110311, 110312, 110313, 110314, 110315, 110316, 110317, 110318, 110319, 110320, 110321, 110322, 110323, 110324, 110325, 110326, 110327, 110328, 110329, 110330, 110331, 110332, 110333, 110334, 110335, 110336, 110337, 110338, 110339, 110340, 110341, 110342, 110343, 110344, 110345, 110346, 110347, 110348, 110349, 110350, 110351, 110352, 110353, 110354, 110355, 110356, 110357, 110358, 110359, 110360, 110361, 110362, 110363, 110364, 110365, 110366, 110367, 110368, 110369, 110370]

# Get data from SMARTDB that have been synchoize to BigQuery

In [87]:
def get_comming_data(x_dbIDs,id):
    if len(x_dbIDs)>0:
        x_dbIDs=[str(id) for id in x_dbIDs ]
        x_dbIDs="({})".format(",".join(x_dbIDs))
        print(x_dbIDs)
        sqlList=f"""
        select * from {view_name} where {id} in {x_dbIDs}
        order by updated_at desc
        """
        print(sqlList)
        dfXYZ=list_data_pg(sqlList,None,get_postgres_conn())
        if dfXYZ.empty==False:
            print(dfXYZ)
            dfXYZ.to_csv(f"data_consistence_check/{view_name}-{bq_table_name}_{str_date_imported}.csv",index=False)
            return True

        return False
    else:
    
        return False
        
        
result=get_comming_data(dbIDs,key_id)   
print(result)

(107329,107330,107331,12689,12690,12691,12692,12693,12694,12695,12696,12697,12698,12699,12700,12701,12702,12703,12704,12705,12706,12707,12727,12728,12729,12730,12731,12732,12733,12734,12735,12736,12737,12738,12739,12740,12741,12742,12743,12744,12745,12746,12747,12748,12749,12750,12751,12752,12753,12754,12755,12756,12757,12758,12759,12760,12761,12762,12763,12764,12765,12766,12767,12768,12769,12770,12771,12772,12773,12774,12775,12776,12777,12778,12779,12780,12781,12782,12783,12784,12785,12786,12787,12788,12789,12790,12791,12792,12793,12794,12795,12796,12797,12798,12799,12800,12801,12802,12803,12804,12805,12806,12807,12808,12809,12810,12811,12812,12813,12814,12815,12816,12817,12818,12819,12820,12821,12822,12823,12824,12825,12846,12847,12848,12849,12850,12851,12852,12853,12854,12855,12856,12857,12858,12859,12860,12861,12862,12863,12864,12865,12866,12867,12868,12869,12870,12871,12872,12873,12874,12875,12876,12877,12878,12879,12880,12881,12882,12883,12884,12885,12886,80638,80639,80640,80641,80642,80643,80644,80645,80646,80647,80648,80649,80650,80651,80652,80653,80654,80655,80656,80657,80658,80659,80660,80661,80662,80663,80664,80665,80666,80667,80668,80669,80670,80671,80672,80673,80674,80675,80676,80677,80678,80679,80680,80681,80682,80683,80684,80685,80686,80687,80688,80689,80690,80691,80692,80693,80694,80695,80696,80697,80698,80699,80700,80701,80702,80703,80704,80705,80706,80707,80708,80709,80710,80711,80712,80713,80714,80715,80716,80717,80718,80719,80720,80721,80722,80723,80724,80725,80726,80727,80728,80729,80730,80731,80732,80733,80734,80735,80736,80737,80738,80739,80740,80741,80742,80743,80744,80745,80746,80747,80748,80749,80750,80751,80752,80753,80754,80755,80756,80757,80758,80759,80760,80761,80762,80763,80764,80765,80766,80767,80768,80769,80770,80771,80772,80773,80774,80775,107391,107392,107393,107394,107395,107396,107397,107398,107399,107332,107333,107334,107335,107336,107337,107320,107321,107322,107323,107324,107325,107326,107327,13655,13656,13657,13658,13659,13660,13661,13662,13663,13664,13665,13666,13667,13668,13669,13670,13671,13672,13673,13674,13675,13676,13677,13678,13679,13680,13681,13682,13683,13684,13685,13686,13687,13688,13689,13690,13691,13692,13693,13694,13695,13696,13697,13698,13699,13700,13701,13702,13703,13704,13705,13706,13707,13708,13709,13710,13711,13712,13713,13714,13715,107338,107339,107340,107341,107342,107343,107344,107345,107346,107347,107348,107349,107350,107351,107352,107353,107354,107355,107356,107357,107358,107359,107360,107361,107362,107363,107364,107365,107366,107367,107368,107369,107370,107371,107372,107373,107374,107375,107376,107377,107378,107379,107380,107381,18026,107382,107383,107384,107385,107386,107387,107388,107389,107390,107328)

        select * from pmr_pm_item where pm_item_id in (107329,107330,107331,12689,12690,12691,12692,12693,12694,12695,12696,12697,12698,12699,12700,12701,12702,12703,12704,12705,12706,12707,12727,12728,12729,12730,12731,12732,12733,12734,12735,12736,12737,12738,12739,12740,12741,12742,12743,12744,12745,12746,12747,12748,12749,12750,12751,12752,12753,12754,12755,12756,12757,12758,12759,12760,12761,12762,12763,12764,12765,12766,12767,12768,12769,12770,12771,12772,12773,12774,12775,12776,12777,12778,12779,12780,12781,12782,12783,12784,12785,12786,12787,12788,12789,12790,12791,12792,12793,12794,12795,12796,12797,12798,12799,12800,12801,12802,12803,12804,12805,12806,12807,12808,12809,12810,12811,12812,12813,12814,12815,12816,12817,12818,12819,12820,12821,12822,12823,12824,12825,12846,12847,12848,12849,12850,12851,12852,12853,12854,12855,12856,12857,12858,12859,12860,12861,12862,12863,12864,12865,12866,12867,12868,12869,12870,12871,12872,12873,12874,12875,12876,12877,12878,12879,12880,12881,12882,12883,12884,12885,12886,80638,80639,80640,80641,80642,80643,80644,80645,80646,80647,80648,80649,80650,80651,80652,80653,80654,80655,80656,80657,80658,80659,80660,80661,80662,80663,80664,80665,80666,80667,80668,80669,80670,80671,80672,80673,80674,80675,80676,80677,80678,80679,80680,80681,80682,80683,80684,80685,80686,80687,80688,80689,80690,80691,80692,80693,80694,80695,80696,80697,80698,80699,80700,80701,80702,80703,80704,80705,80706,80707,80708,80709,80710,80711,80712,80713,80714,80715,80716,80717,80718,80719,80720,80721,80722,80723,80724,80725,80726,80727,80728,80729,80730,80731,80732,80733,80734,80735,80736,80737,80738,80739,80740,80741,80742,80743,80744,80745,80746,80747,80748,80749,80750,80751,80752,80753,80754,80755,80756,80757,80758,80759,80760,80761,80762,80763,80764,80765,80766,80767,80768,80769,80770,80771,80772,80773,80774,80775,107391,107392,107393,107394,107395,107396,107397,107398,107399,107332,107333,107334,107335,107336,107337,107320,107321,107322,107323,107324,107325,107326,107327,13655,13656,13657,13658,13659,13660,13661,13662,13663,13664,13665,13666,13667,13668,13669,13670,13671,13672,13673,13674,13675,13676,13677,13678,13679,13680,13681,13682,13683,13684,13685,13686,13687,13688,13689,13690,13691,13692,13693,13694,13695,13696,13697,13698,13699,13700,13701,13702,13703,13704,13705,13706,13707,13708,13709,13710,13711,13712,13713,13714,13715,107338,107339,107340,107341,107342,107343,107344,107345,107346,107347,107348,107349,107350,107351,107352,107353,107354,107355,107356,107357,107358,107359,107360,107361,107362,107363,107364,107365,107366,107367,107368,107369,107370,107371,107372,107373,107374,107375,107376,107377,107378,107379,107380,107381,18026,107382,107383,107384,107385,107386,107387,107388,107389,107390,107328)
        order by updated_at desc

     pm_item_id  pm_id  is_pm pm_engineer actual_date document_engineer  \
0        107399   1529   True        None        None              None
1        107398   1519   True        None        None              None
2        107397   1701   True        None        None              None
3        107396   1496   True        None        None              None
4        107394   1530   True        None        None              None
..          ...    ...    ...         ...         ...               ...
434       12702   1478   True        None        None              None
435       12701   1478   True        None        None              None
436       12700   1478   True        None        None              None
437       12691   1478   True        None        None              None
438       12699   1478   True        None        None              None

    document_date  inventory_id  is_complete                       updated_at
0            None         19487        False 2024-01-03 16:01:48.268071+07:00
1            None         19487        False 2024-01-03 16:01:48.268071+07:00
2            None         19487        False 2024-01-03 16:01:48.263054+07:00
3            None         19487        False 2024-01-03 16:01:48.263054+07:00
4            None         19487        False 2024-01-03 16:01:48.257279+07:00
..            ...           ...          ...                              ...
434          None         14779        False 2023-05-20 17:25:18.942986+07:00
435          None         14778        False 2023-05-20 17:25:18.942986+07:00
436          None         14777        False 2023-05-20 17:25:18.942986+07:00
437          None         14768        False 2023-05-20 17:25:18.942986+07:00
438          None         14776        False 2023-05-20 17:25:18.942986+07:00

[439 rows x 10 columns]
True